@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/** COLORS

Dark: #111111
Light: #f8f8f8
Grey: #808080
Blue: #0d3c82
Dark Blue: #212450
Yellow: #FFF700
Pink: #F70084

**/

body {
  background: #f8f8f8;
  color: #111111;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.yellow {
  color: #fff700;
}

.grey {
  color: grey;
}

.blue {
  color: #212450;
  margin: 0 10px 0 0;
}

.small {
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.gap {
  margin: 0 5px 0 0;
}

.ninety {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.margin {
  width: 100%;
  margin-top: 1000px;
  border-bottom: 5px solid #212450;
}

/* HEADER */
header {
  background: #212450;
  display: flex;
  align-items: center;
  padding: 20px 0;
  color: #f8f8f8;
  border-bottom: 5px solid #111111;
}

#hd_left {
  width: 40%;
  margin: 0;
  padding: 0;
  text-align: left;
}

#hd_right {
  width: 60%;
  margin: 0;
  padding: 0;
  text-align: right;
}

#hd_left h1 a {
  color: #f8f8f8;
  font-size: 48px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

#hd_left h1 a:hover {
  color: #fff700;
}

.navigation {
  margin: 0 auto;
  display: block;
  align-items: center;
  position: relative;
}

.navigation li {
  display: inline-block;
}

.navigation li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f8f8f8;
  font-weight: 700;
  margin: 0 0 0 30px;
}

.navigation li a:hover {
  color: #fff700;
}

.navMenuTitle {
  display: none;
  text-transform: uppercase;
  font-weight: 700;
}

.hamburger {
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

@media screen and (max-width: 900px) {
  .ninety {
    display: block;
  }

  #hd_left {
    width: 100%;
    text-align: center;
    padding: 0 0 2px 0;
  }

  #hd_right {
    width: 100%;
    text-align: center;
  }

  .navigation {
    display: block;
  }

  .navigation li a {
    margin: 0 25px 0 25px;
  }

  .navigation ul {
    padding: 0;
  }
}

@media screen and (max-width: 670px) {
  .ninety {
    width: 100%;
  }

  #hd_left h1 {
    margin-bottom: 40px;
  }

  #hd_left h1 a {
    font-size: 38px;
  }

  .navMenuTitle {
    margin: 0 0 0 25px;
    padding: 0;
    display: block;
    text-align: left;
  }

  .hamburger {
    display: block;
  }

  li.homeNav {
    display: none;
  }

  .navigation {
    margin: unset;
  }

  .navigationMenu ul {
    display: none;
  }

  .navigationMenu li {
    text-align: center;
    margin: 5px 20px;
    padding: 10px 0;
    border: 1px solid #f8f8f8;
  }

  .navigationMenu li a {
    display: block;
    color: #f8f8f8;
    width: 90%;
    margin: 0 auto;
  }

  .navigationMenu.expanded ul {
    display: flex;
    position: absolute;
    top: 20px;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: #212450;
    padding-bottom: 10px;
    z-index: 1;
  }
}

/* HOME */

.homeBanner {
  position: relative;
  min-height: 500px;
  align-items: center;
  display: flex;
  background: #212450;
}

.homeBanner:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-image: url('/eurovisionbanner-min.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  opacity: 0.5;
}

.homeBannerContent {
  position: relative;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  color: #f8f8f8;
}

.homeBannerContent h2 {
  margin: 0;
  text-align: center;
  font-size: 48px;
  filter: drop-shadow(10px 10px 5px #111111);
}

.featuredSongWrapper {
  width: 90%;
  margin: 20px auto;
  background: #212450;
  text-align: center;
}

.featuredSongLabel {
  width: 100%;
  background: #212450;
}

.featuredSongLabel p {
  margin: 0;
  padding: 40px 20px 20px 20px;
  font-size: 20px;
  font-family: 'Rubik';
  text-transform: uppercase;
  color: #f8f8f8;
}

.featuredSongImage {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  text-align: center;
}

.featuredSongImage iframe {
  width: 90%;
  margin: 0 auto;
  aspect-ratio: 16 / 9;
}

.featuredSongInfo {
  width: 100%;
  background: #212450;
  color: #f8f8f8;
  padding: 20px 0 40px 0;
}

.featuredSongInfo h3 {
  margin: 0;
  padding: 20px;
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 46px;
}

.featuredSongInfo a {
  color: #f8f8f8;
  text-decoration: none;
}

.featuredSongInfo a:hover {
  color: #fef700;
}

.featuredSongInfo p {
  margin: 0;
  padding: 0 20px 20px 20px;
  font-family: 'Rubik';
  font-size: 23px;
}

.homeCarousel {
  width: 90%;
  min-height: 300px;
  padding: 40px 0 40px 0;
  margin: 20px auto 0 auto;
}

.homeCarousel h3 {
  text-align: center;
  margin: 0;
  font-size: 38px;
  font-family: 'Rubik';
  padding: 30px 0 30px 0;
}

.homeCardList {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media screen and (max-width: 800px) {
  .homeCardList {
    grid-template-columns: repeat(1, 1fr);
  }

  .featuredSongLabel p {
    font-size: 16px;
  }

  .featuredSongInfo h3 {
    font-size: 32px;
  }

  .featuredSongInfo p {
    font-size: 18px;
  }

  .homeBannerContent {
    width: 90%;
  }

  .homeBannerContent h2 {
    font-size: 32px;
  }

  .homeBanner {
    min-height: 300px;
  }

  .homeCarousel h3 {
    font-size: 28px;
  }
}

/* PAGES */
.pageTitle {
  width: 100%;
  margin: 0;
  padding: 75px 0 50px 0;
  text-align: center;
}

.pageTitle h1 {
  margin: 0;
  padding: 0;
  font-size: 48px;
}

.pageTitle h2 {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-weight: 500;
}

/* SONG LIST PAGE */
.cardListWrapper {
  width: 90%;
  margin: 0 auto 20px auto;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.entryCard {
  margin-top: 20px;
  background: #ffffff;
}

.cardImage {
  display: block;
  width: 100%;
  height: 250px;
}

.cardImage img {
  object-fit: cover;
  object-position: 50% 50%;
}

.cardTitle {
  width: 100%;
}

.cardTitle p {
  margin: 0;
  padding: 15px 10px 0 10px;
}

.cardTitle a {
  text-decoration: none;
  font-size: 28px;
  font-weight: 700;
  padding: 0 10px;
  color: #111;
  box-decoration-break: clone;
}

.cardDetails {
  display: flex;
  padding: 0 10px 10px 10px;
  font-size: 15px;
}

.cardDetails p {
  padding-top: 5px;
  color: #808080;
  margin: 0;
  padding: 5px 0 0 0;
}

.cardDetails a {
  text-decoration: none;
  color: #808080;
}

.cardDetails a:hover {
  text-decoration: underline;
}

.cardDetailsLeft {
  width: 55%;
  padding: 0 10px 10px 10px;
}

.cardDetailsRight {
  width: 45%;
  text-align: right;
  padding: 0 10px 10px 0px;
}

@media screen and (max-width: 1100px) {
  .cardTitle a {
    font-size: 22px;
  }
}

@media screen and (max-width: 1000px) {
  .cardList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .cardList {
    grid-template-columns: repeat(1, 1fr);
  }

  .cardTitle a {
    font-size: 22px;
  }
}

/* PAGINATION */
.paginationBox {
  width: 90%;
  margin: 40px auto 0 auto;
  padding: 60px 0 60px 0;
  display: flex;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  text-align: center;
}

.paginationBox a {
  color: #f8f8f8;
  text-decoration: none;
  background: #111111;
  padding: 15px;
}

.paginationBox a:hover {
  color: #fef700;
}

.paginationBoxPrev,
.paginationBoxNext {
  width: 30%;
  margin: 0 auto;
}

.paginationBoxPrev {
  text-align: right;
}

.paginationBoxPrev {
  text-align: right;
}

.paginationBoxNext {
  text-align: left;
}

@media screen and (max-width: 600px) {
  .paginationBox {
    display: block;
    padding: 10px 0 10px 0;
  }

  .paginationBoxPrev,
  .paginationBoxNext {
    width: 100%;
    margin: 50px auto;
  }

  .paginationBoxPrev {
    text-align: center;
  }

  .paginationBoxNext {
    text-align: center;
  }
}

/* SONG PAGE */

.pageTitle {
  width: 80%;
  margin: 0 auto;
  padding: 75px 0 50px 0;
  text-align: center;
  border-bottom: 1px solid #212450;
}

.pageTitle h1 {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 56px;
  font-family: 'Rubik';
  overflow-wrap: break-word;
}

.pageTitle p {
  margin: 0;
  padding: 0 0 20px 0;
  font-size: 22px;
}

.songStats {
  width: 90%;
  margin: 20px auto;
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 1px solid #111111;
}

.songStatsTitle {
  width: 100%;
  text-align: center;
  padding: 30px 0 0 0;
}

.songStatsTitle h3 {
  font-size: 28px;
  padding: 40px 0;
  margin: 0;
  font-weight: 700;
  font-family: 'Rubik';
}

.songStatsBreakdown {
  width: 90%;
  margin: 0 auto;
  padding: 0 0 60px 0;
  display: flex;
}

.songStatsBreakdownThird {
  width: 30%;
  margin: 0 auto;
}

.songStatsBreakdownThird p {
  margin: 0;
  padding: 0;
}

.largeStats {
  font-size: 84px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-family: 'Rubik';
  font-weight: 700;
}

.mediumStats {
  font-size: 62px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-family: 'Rubik';
  font-weight: 700;
  color: #111111;
}

.smallMediumStats {
  font-size: 42px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-family: 'Rubik';
  font-weight: 700;
  color: grey;
}

.smallStats {
  color: grey;
  text-transform: uppercase;
  font-size: 16px;
}

.statsAnnotation {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: grey;
}

.grandFinalStatus {
  margin: 0 0 100px 0;
  font-size: 24px;
}

.songStatsJuryVsTelevote {
  width: 100%;
  padding: 20px 0 80px 0;
  display: flex;
}

.songStatsJuryVsTelevoteBreakdown {
  width: 48%;
  margin: 0 auto;
  padding: 0 10px 60px 10px;
  text-align: center;
  background: #ffffff;
  border-left: 1px solid #f8f8f8;
  border-right: 1px solid #f8f8f8;
}

.songStatsJuryVsTelevoteBreakdownTitle {
  width: 100%;
  text-align: center;
}

.songStatsJuryVsTelevoteBreakdownTitle h4 {
  font-size: 28px;
  padding: 40px 0 40px 0;
  margin: 0;
  font-weight: 700;
  font-family: 'Rubik';
  text-align: center;
}

.songStatsJuryVsTelevoteBreakdownDetails {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.songStatsBreakdownThirdSmall {
  width: 30%;
  margin: 0 auto;
}

.songStatsBreakdownThirdSmall p {
  margin: 0;
  padding: 0;
}

.largeStatsSmall {
  font-size: 34px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-family: 'Rubik';
  font-weight: 700;
}

.statsAnnotationSmall {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: grey;
  font-size: 11px;
}

.songDetails {
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #111111;
  padding: 20px 0;
}

.songDetailsBox {
  width: 90%;
  margin: 30px auto;
}

.songDetailsGrid {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 50px;
  font-size: 24px;
  background: #ffffff;
}

.songDetailsLanguages {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  font-size: 24px;
  background: #ffffff;
  border-top: 15px solid #f8f8f8;
}

.languageItem {
  margin: 0px 5px;
  background: #f8f8f8;
  padding: 10px;
  border-radius: 25px;
}

@media screen and (max-width: 950px) {
  .songDetailsGrid {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  .blue {
    margin: 0 5px 0 0;
  }
}

@media screen and (max-width: 900px) {
  .songStatsTitle h3 {
    padding: 10px 0;
  }

  .songStatsBreakdown {
    padding: 0;
  }

  .songStatsJuryVsTelevote {
    display: block;
    padding-bottom: 20px;
  }

  .songStatsJuryVsTelevoteBreakdown {
    width: 100%;
    margin: 10px 0;
  }

  .grandFinalStatus {
    margin: 0 0 60px 0;
  }
}
@media screen and (max-width: 700px) {
  .pageTitle h1 {
    font-size: 42px;
  }

  .songStatsBreakdown {
    display: flex;
    flex-direction: column;
  }

  .songStatsBreakdownThird {
    width: 100%;
    margin: 20px auto;
    order: 1;
  }

  .songStatsBreakdownThird:nth-child(2) {
    order: 0;
  }

  .largeStats {
    font-size: 72px;
  }

  .grandFinalStatus {
    margin: 0 0 60px 0;
  }
}

@media screen and (max-width: 400px) {
  .songStatsJuryVsTelevoteBreakdown {
    padding: 0 0 40px 0;
  }

  .songStatsJuryVsTelevoteBreakdownTitle h4 {
    padding: 40px 0 20px 0;
  }

  .songStatsJuryVsTelevoteBreakdownDetails {
    display: flex;
    flex-direction: column;
  }

  .songStatsBreakdownThirdSmall {
    width: 100%;
    margin: 20px auto;
    order: 1;
  }

  .songStatsBreakdownThirdSmall:nth-child(2) {
    order: 0;
  }

  .grandFinalStatus {
    margin: 0 0 60px 0;
  }
}

.songVideo {
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;
  border-bottom: 1px solid #111111;
  text-align: center;
}

.songVideoEmbed iframe {
  width: 90%;
  margin: 0 auto;
  aspect-ratio: 16 / 9;
}

.imageGallery {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0 60px 0;
  border-bottom: 1px solid #111111;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 50px;
}

.imageGallery p {
  font-size: 9px;
  color: #808080;
  text-transform: uppercase;
}

.imageGallery img {
  object-fit: cover;
  object-position: 50% 50%;
}

@media screen and (max-width: 700px) {
  .imageGallery {
    grid-template-columns: repeat(1, 1fr);
  }

  .imageGallery p {
    margin-bottom: 50px;
  }
}

.entryList {
  width: 90%;
  min-height: 200px;
  border-bottom: 1px solid #111111;
  margin: 0 auto;
  padding-bottom: 60px;
}

.entryListTitle {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
}

.entryListTitle h4 {
  font-size: 28px;
  font-family: 'Rubik';
}

.countrySongEntry {
  width: 80%;
  margin: 0 auto 20px auto;
  min-height: 150px;
  display: flex;
  background: #ffffff;
}

.songEntryImage {
  width: 30%;
}

.songEntryImage img {
  object-fit: cover;
  object-position: 50% 50%;
  min-height: 200px;
}

.songEntryDetails {
  width: 70%;
  display: flex;
  align-items: center;
}

.songEntryDetailsLeft {
  width: 60%;
  padding: 0 30px 0 60px;
}

.songEntryDetailsLeft a {
  color: #111111;
  text-decoration: none;
  font-family: 'Rubik';
  font-size: 26px;
  font-weight: 700;
  overflow-wrap: break-word;
}

.songEntryDetailsLeft p {
  margin: 10px 0;
  padding: 0;
}

.songEntryDetailsRight {
  width: 40%;
  text-align: center;
}

.songEntryDetailsRight p {
  font-size: 11px;
  text-transform: uppercase;
  color: grey;
}

.songTag {
  padding: 5px;
  font-size: 11px;
  border-radius: 5px;
  margin: 2px;
}

.tagRed {
  background: pink;
  color: red;
}

.tagGreen {
  background: #d4f8d4;
  color: green;
}

.tagGold {
  background: #fff1a5;
  color: #ccac00;
}

@media screen and (max-width: 825px) {
  .countrySongEntry {
    display: block;
    width: 95%;
  }

  .songEntryImage {
    width: 100%;
  }

  .songEntryDetails {
    width: 100%;
    display: flex;
    padding: 30px 0;
  }

  .songEntryDetailsLeft {
    width: 70%;
    padding: 0 50px;
  }

  .songEntryDetailsRight {
    width: 30%;
    padding: 0 50px;
  }

  .smallMediumStats {
    font-size: 50px;
  }
}

@media screen and (max-width: 500px) {
  .songEntryDetails {
    width: 100%;
    display: block;
    padding: 30px 0;
  }

  .songEntryDetailsLeft {
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .songEntryDetailsRight {
    text-align: center;
    width: 100%;
    padding: 0;
  }
}

/* FOOTER */
.infoBanner {
  margin: 100px 0 0 0;
  width: 100%;
  background: #212450;
  padding: 15px 0;
  color: #f8f8f8;
  text-align: center;
}

.infoBanner p {
  width: 90%;
  margin: 0 auto;
  line-height: 1.5;
}

footer {
  background: #111111;
  color: #f8f8f8;
  margin: 0;
  text-align: center;
  padding: 50px 0 75px 0;
}

footer h3 {
  margin: 0;
  color: #f8f8f8;
  font-size: 32px;
  text-decoration: none;
  text-transform: uppercase;
}

footer p {
  margin: 20px 0 0 0;
  padding: 0;
}

footer a {
  color: #f8f8f8;
  text-decoration: none;
}

footer a:hover {
  color: #fef700;
}

.footerSocial {
  padding: 20px;
  font-size: 32px;
}

/** OLD STYLES


@media screen and (max-width: 450px) {
  .navigation .navbutton {
    display: inline;
    border: none;
  }




}

.divider {
  width: 100%;
  min-height: 25px;
  border-bottom: 1px solid #808080;
}

.spacer {
  min-height: 100px;
}

.sectionHeader {
  width: 100%;
  text-align: center;
  padding: 10px 0 0 0;
  margin: 40px 0 0 0;
  border-top: 1px solid #d3d3d3;
}

.sectionHeader h3 {
  font-size: 42px;
}

.sectionHeaderAlt {
  width: 100%;
  text-align: center;
  padding: 20px 0 20px 0;
  margin: 0;
}

.sectionHeaderAlt h3 {
  font-size: 42px;
}



.intro {
  width: 70%;
  margin: 10px auto 60px auto;
  text-align: center;
}

.intro p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 18px;
}

.featuredSongWrapper {
  width: 100%;
  min-height: 400px;
  padding: 30px 0 0 0;
}

.featuredSong {
  width: 80%;
  margin: 0 auto;
}

.featuredSongLabel {
  width: 100%;
  background: #0d3c82;
  color: #f8f8f8;
  font-size: 16px;

  text-transform: uppercase;
}

.featuredSongLabel p {
  margin: 0;
  padding: 10px;
}

.featuredSongImage {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  background: #0d3c82;
}

.featuredSongImage img {
  object-fit: cover;
  object-position: 50% 50%;
  margin: 0;
  padding: 0;
}

.featuredSongInfo {
  width: 100%;
  background: #0d3c82;
  color: #f8f8f8;
  font-size: 32px;
  text-align: right;
}

.featuredSongInfo h3,
.featuredSongInfo a {
  margin: 0;
  padding: 20px 10px 0 20px;
  font-weight: 700;
  color: #f8f8f8;
  text-decoration: none;
}

.featuredSongInfo a:hover {
  color: #fff700;
}

.featuredSongInfo p {
  margin: 0;
  padding: 10px 20px 20px 20px;
  font-size: 22px;
}

@media screen and (max-width: 668px) {
  .featuredSong {
    width: 95%;
  }

  .featuredSongLabel,
  .featuredSongInfo {
    text-align: center;
  }

  .featuredSongInfo h3,
  .featuredSongInfo a {
    padding: 20px 0 0 0;
  }
}



.paginationBox {
  width: 90%;
  margin: 40px auto 0 auto;
  padding: 60px 0 60px 0;
  display: flex;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  text-align: center;
}

.paginationBoxPrev,
.paginationBoxNext {
  width: 30%;
  margin: 0 auto;
}

.paginationBoxPages {
  margin: 0 auto;
}

.paginationBoxPrev {
  text-align: right;
}

.paginationBoxNext {
  text-align: left;
}

.paginationBox a {
  color: #f8f8f8;
  text-decoration: none;
  background: #111111;
  padding: 15px;
}

.paginationBox a:hover {
  color: #fff700;
}

@media screen and (max-width: 600px) {
  .paginationBox {
    display: block;
    padding: 10px 0 10px 0;
  }

  .paginationBoxPrev,
  .paginationBoxNext {
    width: 100%;
    margin: 50px auto;
  }

  .paginationBoxPrev {
    text-align: center;
  }

  .paginationBoxNext {
    text-align: center;
  }
}

.cardListWrapper {
  width: 90%;
  margin: 0 auto 20px auto;
}

.altCardListWrapper {
  width: 60%;
  margin: 0 auto;
}

.cardList,
.homeCardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.cardListHorizontal {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.entryCard {
  margin-top: 20px;
  background: #ffffff;
}

.cardImage {
  display: block;
  width: 100%;
  height: 250px;
}

.cardImage img {
  object-fit: cover;
  object-position: 50% 50%;
}

.cardEntry2 {
  width: 75%;
}

.cardTitle,
.altCardTitle {
  width: 100%;
}

.cardTitle p {
  margin: 0;
  padding: 15px 10px 0 10px;
}

.altCardTitle p {
  margin: 0;
}

.cardTitle a {
  text-decoration: none;
  font-size: 28px;
  font-weight: 700;
  padding: 0 10px;
  color: #111;
  box-decoration-break: clone;
}

.altCardTitle a {
  width: 100%;
  text-decoration: none;
  font-size: 28px;
  font-weight: 700;
  color: #111;
  box-decoration-break: clone;
}

.cardDetails {
  display: flex;
  padding: 0 10px 10px 10px;
  font-size: 15px;
}

.cardDetails p {
  padding-top: 5px;
  color: #808080;
  margin: 0;
  padding: 5px 0 0 0;
}

.cardDetails a {
  text-decoration: none;
  color: #808080;
}

.cardDetails a:hover {
  text-decoration: underline;
}

.cardDetailsLeft {
  width: 55%;
  padding: 0 10px 10px 10px;
}

.cardDetailsRight {
  width: 45%;
  text-align: right;
  padding: 0 10px 10px 0px;
}

.altEntryCard {
  margin-top: 20px;
  background: #ffffff;
  display: flex;
  align-items: center;
}

.altCardImage {
  display: block;
  width: 50%;
}

.altCardImage img {
  object-fit: cover;
  object-position: 50% 50%;
  min-height: 200px;
}

.altCardDetails {
  display: block;
  width: 75%;
  padding-left: 40px;
}

.altCardSubtitle {
  width: 100%;
}

.altCardSubtitle p,
.altCardTitle p {
  margin: 10px 0 10px 0;
  padding: 0;
}

.entryDetails h3 {
  font-size: 32px;
  text-align: center;
  padding-top: 30px;
}

@media screen and (max-width: 1100px) {
  .cardTitle a,
  .altCardTitle a {
    font-size: 22px;
  }
}

@media screen and (max-width: 1000px) {
  .homeCardList {
    grid-template-columns: repeat(1, 1fr);
  }

  .cardList {
    grid-template-columns: repeat(2, 1fr);
  }

  .altCardListWrapper {
    width: 90%;
    margin: 0 auto;
  }

  .altCardTitle a {
    font-size: 18px;
  }
}

@media screen and (max-width: 650px) {
  .cardList {
    grid-template-columns: repeat(1, 1fr);
  }

  .cardTitle a {
    font-size: 22px;
  }

  .altEntryCard {
    display: block;
  }

  .altCardImage {
    width: 100%;
    height: 200px;
  }

  .altCardDetails {
    width: 100%;
    padding: 20px 0 30px 30px;
  }
}


.entryPage {
  width: 90%;
  margin: 50px auto;
}

.entryPage h3 {
  font-size: 32px;
  text-align: center;
  padding-top: 30px;
}

.entryHeader {
  width: 100%;
  border-bottom: 1px solid #808080;
  border-top: 1px solid #808080;
  padding: 5px 0 20px 0;
  text-align: center;
}

.entryHeaderTitle {
  width: 100%;
  margin: 20px auto;
}

.entryHeaderTitle h1 {
  font-size: 56px;
  font-weight: 700;
  margin: 10px 0 0 0;
  padding: 0;
}

.entryHeaderTop,
.entryHeaderBottom {
  font-size: 32px;
  padding: 0;
  margin: 40px 0 0 0;
}

.entryHeaderBottom p {
  padding: 0;
  margin: 0;
}

.songEntryTag {
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: #808080;
}

.statsHeader {
  text-align: center;
  padding-top: 30px;
}

.statsHeader h2 {
  font-size: 32px;
}

.grandFinalStatus {
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.entryStatsBlock {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0 50px 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.entryStatFigure {
  font-size: 72px;
  font-weight: 700;
  color: #111111;
}

.entryStat p {
  color: #808080;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.centralAlign {
  text-align: center;
}

.juryVsTelevoteBlock {
  width: 100%;
  margin: 40px auto;
  padding-bottom: 50px;
  display: flex;
  text-align: center;
  border-bottom: 1px solid #808080;
}

.juryVsTelevoteBlock h3 {
  font-size: 28px;
}

.juryBlock {
  width: 100%;
  padding: 10px;
  border-left: 5px solid #f8f8f8;
  border-right: 5px solid #f8f8f8;
  min-height: 200px;
  background: white;
}

.televoteBlock {
  width: 100%;
  padding: 10px;
  border-left: 5px solid #f8f8f8;
  border-right: 5px solid#f8f8f8;
  min-height: 200px;
  background: white;
}

.entryStatFigureSmall {
  font-size: 38px;
  font-weight: 700;
  color: #111111;
}

.juryVsTelevoteBlock p {
  font-size: 11px;
}

@media screen and (max-width: 900px) {
  .entryStatsBlock {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 25px;
  }

  .entryStatFigure {
    font-size: 82px;
  }

  .entryHeader p {
    font-size: 24px;
  }

  .entryHeader h1 {
    font-size: 42px;
  }

  .juryVsTelevoteBlock h3 {
    font-size: 24px;
  }

  .juryVsTelevoteBlock {
    display: block;
  }

  .televoteBlock,
  .juryBlock {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px 0 25px 0;
  }

  .juryBlock {
    border-bottom: 5px solid #f8f8f8;
  }
}

.entryImageBlock {
  width: 100%;
  margin: 50px auto 25px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.entryImageBlock p {
  font-size: 9px;
  color: #808080;
  text-transform: uppercase;
}

.entryImage img {
  object-fit: cover;
  object-position: 50% 50%;
}

@media screen and (max-width: 900px) {
  .entryImageBlock {
    grid-template-columns: repeat(1, 1fr);
  }

  .entryImage {
    margin-bottom: 50px;
  }
}

.commentaryBox {
  width: 60%;
  padding: 25px;
  margin: 25px auto;
  background: #d3d3d3;
  text-align: center;
}

.commentary {
  font-size: 24px;
}

.editor {
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  .commentaryBox {
    width: 90%;
  }
}



.blogList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.blogCard {
  background: #ffffff;
  padding: 20px 0;
  margin: 0 0 30px 0;
  display: flex;
}

.blogCardImage {
  width: 30%;
  padding-left: 20px;
}

.blogCardImage img {
  object-fit: cover;
  object-position: 50% 50%;
  margin: 0;
  padding: 0;
}

.blogCardDetails {
  width: 70%;
  padding: 20px 50px 20px 50px;
}

.blogCardDetails h2 a {
  font-size: 36px;
  color: #111111;
}

.blogCardDetails a {
  text-decoration: none;
}

.blogCardDetails h2 a:hover {
  text-decoration: underline;
}

.date {
  font-size: 12px;
  color: #808080;
}

.blueButton {
  background: #111111;
  padding: 15px;
  color: #f8f8f8;
  font-size: 14px;
}

.blueButton:hover {
  color: #fff700;
  text-decoration: none;
}

.blogCardDetails .small {
  font-size: 14px;
  line-height: 1.5;
  color: #808080;
  margin-bottom: 30px;
}

.tags {
  padding: 3px 5px;
  background: #d3d3d3;
  color: #111111;
  font-size: 10px;
  margin: 3px;
  border-radius: 5px;
}

@media screen and (max-width: 900px) {
  .blogCard {
    display: block;
  }

  .blogCardImage {
    width: 100%;
    height: 200px;
    padding: 0;
    margin: 0 auto;
  }

  .blogCardDetails {
    width: 100%;
    padding: 20px 0;
    margin: 0;
  }

  .blogCardDetails p {
    padding: 0 20px;
  }

  .blogCardDetails h2 {
    padding: 0 20px;
  }
}

.blogHeader {
  width: 100%;
  display: inline-flex;
  margin: 0;
  padding: 30px 0;
  align-items: center;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
}

.blogDetails {
  width: 70%;
  margin: 0;
  padding: 0 20px 0 20px;
  order: 1;
}

.blogDetailsDate {
  width: 100%;
  margin: 0;
  padding: 20px 0 10px 0;
  color: #808080;
  font-size: 14px;
}

.blogDetailsTitle {
  width: 100%;
  margin: 0;
  padding: 0;
}

.blogDetailsTitle h1 {
  margin: 0;
  padding: 10px 0;
  font-size: 68px;
  line-height: 1.2;
}

.blogDetailsTags {
  width: 100%;
  margin: 0;
  padding: 10px 0 20px 0;
}

.tagsBlogpage {
  padding: 8px 10px;
  background: #d3d3d3;
  color: #111111;
  font-size: 12px;
  margin: 3px;
  border-radius: 5px;
}

.blogDetailsTags {
  width: 100%;
  margin: 0;
  padding: 10px 0 20px 0;
}

.songDetailsTags {
  width: 100%;
  margin: 0;
  padding: 10px 0 20px 0;
}

.tagsSongCard {
  padding: 8px 10px;
  background: #ffcccb;
  color: #ff0000;
  font-size: 12px;
  margin: 3px;
  border-radius: 5px;
}

.blogImage {
  width: 30%;
  margin: 0;
  padding: 0;
  order: 2;
}

.blogImage img {
  object-fit: cover;
  object-position: 50% 50%;
  margin: 0;
  padding: 0;
}

.blogImage p {
  font-size: 9px;
  color: #808080;
  text-transform: uppercase;
  text-align: right;
}

.blogEntry {
  width: 100%;
  margin: 50px auto;
  background: #ffffff;
  padding: 50px;
  box-sizing: border-box;
}

.blogEntry p {
  font-size: 16px;
  line-height: 2;
}

.blogEntry h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  margin: 50px 0 0 0;
  padding: 0;
}

.blogEntry h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  margin: 50px 0 0 0;
  padding: 0;
}

.blogEntry h3 {
  font-size: 28px;
  font-weight: 700;
  text-align: left;
  margin: 50px 0 0 0;
  padding: 0;
}

.blogEntry hr {
  border: 1px solid #d3d3d3;
  margin: 30px 0;
}

.blogEntry table {
  border: 2px solid #d3d3d3;
  width: 85%;
}

.blogEntry th {
  background: #f8f8f8;
  text-align: left;
  padding: 5px 20px;
}

.blogEntry td {
  border-bottom: 1px solid #f8f8f8;
  padding: 5px 20px;
}

.blogEntry img {
  max-width: 50%;
  height: auto;
  margin: 25px 0 20px 0;
}

@media screen and (max-width: 1000px) {
  .blogDetailsTitle h1 {
    font-size: 42px;
  }

  .blogEntry table {
    width: 100%;
  }

  .blogEntry img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 900px) {
  .blogHeader {
    display: inline-grid;
    text-align: center;
  }

  .blogDetails {
    width: 100%;
    order: 2;
    padding: 0;
  }

  .blogImage {
    width: 100%;
    height: 200px;
    order: 1;
    margin-bottom: 25px;
  }

  .blogImage p {
    text-align: center;
  }
}



.infoBanner {
  width: 100%;
  background: #0d3c82;
  color: #f8f8f8;
  padding: 20px 0;
  text-align: center;
  line-height: 1.5;
}

.infoBanner p {
  width: 90%;
  padding: 0;
  margin: 0 auto;
}

footer {
  background: #111;
  color: #f8f8f8;
  text-align: center;
  min-height: 300px;
  padding: 25px 0;
}

footer h3 {
  text-transform: uppercase;
  font-size: 30px;
}

footer p {
  margin: 20px 0 0 0;
  padding: 0;
}

footer a {
  color: #f8f8f8;
  text-decoration: none;
}

footer a:hover {
  color: #fff700;
}

.footerSocial {
  padding: 20px;
  font-size: 32px;
}

.page-content {
  width: 100%;
  min-height: 600px;
}

@media screen and (max-width: 400px) {
  header h1 {
    font-size: 36px;
  }
}



.detailedSongCardWrapper {
  width: 70%;
  min-height: 500px;
  margin: 0 auto;
}

.detailedSongCard {
  width: 100%;

  background: #ffffff;
  display: flex;
}

.dSongCardImage {
  width: 30%;
  background: red;
}

.dSongCardDetails {
  width: 70%;

  display: flex;
  padding: 25px 0;
}

.dSongCardTitle {
  width: 70%;
  padding: 0 0 0 40px;

  border-right: 0.5px solid #808080;
  text-align: left;
  color: #808080;
}

.dSongCardTitle h3 {
  text-align: left;
  margin: 0;
  padding: 0;
  color: #111111;
}

.dSongCardInfo {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.largeStat {
  font-weight: 700;
  font-size: 58px;
  margin: 0;
  padding: 0;
}

.annotation {
  text-transform: uppercase;
  color: #808080;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

**/
